django>=1.4.2
virtualenv>=1.5.1
PyYAML==3.10
supervisor==3.0a10

# Tastypie alpha
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie

# The cannula project itself
-e git://github.com/rmyers/cannula.git#egg=cannula