{% extends "cannula/base.html" %}
{% load i18n admin_modify adminmedia %}

{% block bodyclass %}change-form{% endblock %}
{% block coltype %}colM{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url index %}">Home</a> &rsaquo;
    {% if group and project %}
    <a href="{% url project-details group.abbr,project.abbr %}">{{ project }}</a> &rsaquo;
    {% endif %}
    {{ title }}
</div>
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">
  </ul>
{% endblock %}

<form action="{% firstof action_url "." %}" method="post" id="form1">
{% csrf_token %}
<div>
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}


<div class='submit-row' style="overflow: auto;">
<input type='submit' class='default' value='{{ title }}' />
<a href="{% if cancel_url %}{{ cancel_url }}{% else %}../{% endif %}" class="deletelink float-left" style="margin-top:5px;">Cancel</a>
</div>

</div>
</form></div>

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

{% endblock %}
{% block sidebar %}
<h2>Form Help</h2>
<div class="box">
{% for field in adminform.form %}
{% if field.help_text %}
<p><strong>{{ field.label }}:</strong> {{ field.help_text|safe }}</p>
{% endif %}{% endfor %} 
</div>{% endblock %}