{%  extends "cannula/base.html" %}
{% load gravatar %}

{% block extrahead %}
<script>
    $(function() {
        var groups = new GroupCollection('{{ csrf_token }}');
        ko.applyBindings(groups);
    });
</script>
{% endblock %}

{% block content %}
<h3 id='groups'>Groups{% if user.is_superuser %} <a href="#" data-bind="click: toggleForm" class="btn">Add Group</a>{% endif %}</h3>
<form class='popup wide' data-bind="fadeVisible: formVisible">
    <fieldset>
        <legend>Create Project Group</legend>
        <div class="alert-message error" data-bind="visible: errors, html: errors"></div>
        {% for field in form %}
        <div class="clearfix">{{ field.label_tag}}<div class="input">{{ field }}</div></div>
        {% endfor %}
        <div class="actions">
            <button data-bind="click: addObject" class='btn primary'>Create Project Group</button>
            <a href="#" data-bind="click: resetForm">Cancel</a>
        </div>
    </fieldset>
</form>

<div class='groups' data-bind="foreach: items">
    <h4><a href="#" data-bind='attr: {href: absolute_url}, text: name'></a></h4>
    <ul data-bind="foreach: $data.projects">
        <li><a href="#" data-bind="attr: {href: url}, text: name"></a></li>
    </ul>
</div>
{% endblock %}


{% block sidebar %}
<h3>Recent Actions</h3>
{% if news %}
    {% for msg in news.object_list %}
      <div class="news">
           <img src="{% gravatar_url user.email 30 %}" alt="{{ user.username }}" />
           <div class="message">
                <span>
                   {% if msg.project %}
                   <a href="{{ msg.project.get_absolute_url }}">{{ msg.message }}</a>
                   {% else %}{% if msg.group %}
                   <a href="{{ msg.group.get_absolute_url }}">{{ msg.message }}</a>
                   {% else %}{{ msg.message}}{% endif %}{% endif %}
                </span>
                <p class="quiet">{{ msg.timestamp|timesince:now }} ago by {{msg.user }}</p>  
           </div>
      </div>   
    {% endfor %}
{% else %}
    <p>No news for your groups/projects.</p>
{% endif %}
{% endblock %}