{%  extends "cannula/base.html" %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<h3>My Projects</h3>
{% if projects %}
    {% for proj in projects %}
       <h4>{{ proj.user.username }}/{{ proj }}</h4>
        		
    {% endfor %}
{% else %}
	<p>No projects yet.</p>
	<p><a href="#">Create project</a></p>
{% endif %}
{% endblock %}


{% block sidebar %}
{% if groups %}
<h3>Groups</h3>
{% for group in groups %}
	<h4>{{ group }}</h4>
	<ul>
	{% for project in group.group.project_set.all %}
	    {% if project not in projects %}
		<li><a href="#">{{ project.user.username }}/{{ project }}</a></li>
		{% endif %}
	{% endfor %}
	{% if group in groups_create %}
	    <li><a href="{% url create-project %}?group={{ group.abbr }}" class="addlink">Add Project</a></li>
	{% endif %}
	</ul>
{% endfor %}
{% else %}
    <p>You are not in any groups.</p>
{% endif %}
{% endblock %}