{%  extends "cannula/base.html" %}
{% load gravatar %}

{% block extrahead %}
<script>
    $(function() {
        var keys = new KeyCollection('{{ csrf_token }}');
        ko.applyBindings(keys);
    });
</script>
{% endblock %}

{% block content %}
<h3>SSH Keys <a href="#" data-bind="click: toggleForm" class="btn">Add Key</a></h3>
<form class='popup wide' data-bind="fadeVisible: formVisible">
    <fieldset>
        <legend>Create SSH Key</legend>
        <div class="alert-message error" data-bind="visible: errors, html: errors"></div>
        <div class="clearfix">
            <label for="id_name">Name:</label>
            <div class="input">
                <input id="id_name" name='name' data-bind="value: newName" maxlength="100" /> 
            </div>
        </div>
        <div class="clearfix">
            <label for="id_ssh_key">SSH Key:</label>
            <div class="input">
                <textarea id="id_ssh_key" data-bind="value: newKey" rows="12" cols="60" name="ssh_key"></textarea>
            </div>
        </div>
        <div class="actions">
            <button data-bind="click: addObject" class='btn primary'>Create SSH Key</button>
            <a href="#" data-bind="click: toggleForm">Cancel</a>
        </div>
    </fieldset>
</form>

<div class="alert-message block-message info">
    <p><strong>Note:</strong> You can create a ssh-key by using the following command:</p>
    <pre>$ ssh-keygen</pre>
</div>
<ul data-bind="foreach: items">
    <li><a href="#" data-bind="click: toggleEditForm, text: name"></a>
        <a href="#" class="error delete" data-bind="click: toggleForm">delete</a>
        <div class="alert-message block-message error" data-bind="fadeVisible: formVisible">
            <p>Are you sure you want to delete this key?</p>
            <button class="btn error" data-bind="click: deleteObject">Delete</button>
            <button class="btn" data-bind="click: toggleForm">Cancel</button>
        </div>
        <form class='popup wide' data-bind="fadeVisible: editFormVisible">
            <fieldset>
                <legend>Edit SSH Key</legend>
                <div class="alert-message error" data-bind="visible: errors, html: errors"></div>
                <div class="clearfix">
                    <label for="id_name">Name:</label>
                    <div class="input">
                        <input id="id_name" name='name' data-bind="value: name" maxlength="100" /> 
                    </div>
                </div>
                <div class="clearfix">
                    <label for="id_ssh_key">SSH Key:</label>
                    <div class="input">
                        <textarea id="id_ssh_key" data-bind="value: key" rows="12" cols="60" name="ssh_key"></textarea>
                    </div>
                </div>
                <div class="actions">
                    <button data-bind="click: editObject" class='btn primary'>Update SSH Key</button>
                    <a href="#" data-bind="click: toggleEditForm">Cancel</a>
                </div>
            </fieldset>
        </form>
    </li>
</ul>
{% endblock %}


{% block sidebar %}
<h3>{{ user }}</h3>
<div class="news">
    <img src="{% gravatar_url user.email 100 %}" alt="{{ user.username }}" />
    <div class="message">
        <p>username: {{ user.username }}</p>
        <p>email: {{ user.email }}</p>
        <p>Member since {{ user.date_joined|date }}</p>
    </div>
</div>
{% endblock %}