{% extends "cannula/base.html" %}
{% load gravatar %}
{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
{% endblock %}

{% block content %}

  {% if project.description %}<div class="description">{{ project.description }}</div>{% endif %}

<h3>Recent History</h3>
{% if logs.paginator.count %}
{% for msg in logs.object_list %}
      <div class="news">
           <img src="{% gravatar_url user.email 30 %}" alt="{{ user.username }}" />
           <div class="message">
                <span>
                   {% if msg.project %}
                   <a href="{% url project-details msg.project.group,msg.project %}">{{ msg.message }}</a>
                   {% else %}{{ msg.message}}{% endif %}
                </span>
                <p class="quiet">{{ msg.timestamp|timesince:now }} ago by {{msg.user }}</p>  
           </div>
      </div>   
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if logs.has_previous %}
            <a href="?page={{ logs.previous_page_number }}">&laquo; previous</a>
        {% endif %}

        {% if logs.has_other_pages %}
	        {% for i in logs.paginator.page_range %}
	            {% if logs.number = i %}
	                {{ i }}
	            {% else %}
	                <a href="?page={{i}}">{{ i }}</a>
	            {% endif %}
	        {% endfor %}
        {% endif %}
        
        {% if logs.has_next %}
            <a href="?page={{ logs.next_page_number }}">next &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>No history, would you like to make some?</p>
{% endif %}
{% endblock %}
