{% extends "cannula/base.html" %}

{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
{% endblock %}

{% block content %}

  <h2>{{ project }}</h2>
  {% if project.description %}<div class="description">{{ project.description }}</div>{% endif %}

<h2>Deployment History ({{ logs.paginator.count }} results found)</h2>
{% if logs.paginator.count %}
<table>
<thead>
<tr>
    <th>Time</th>
    <th>User</th>
    <th>Stage(s)</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
{% for log in logs.object_list %}
<tr>
    <td>{{ log.timestamp|date }} {{ log.timestamp|time }}</td>
    <td>{{ log.user.get_full_name }} ({{ log.user.username}})</td>
    <td>{{ log.cluster }}</td>
    <td>{{ log.message }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if logs.has_previous %}
            <a href="?page={{ logs.previous_page_number }}">&laquo; previous</a>
        {% endif %}

        {% if logs.has_other_pages %}
	        {% for i in logs.paginator.page_range %}
	            {% if logs.number = i %}
	                {{ i }}
	            {% else %}
	                <a href="?page={{i}}">{{ i }}</a>
	            {% endif %}
	        {% endfor %}
        {% endif %}
        
        {% if logs.has_next %}
            <a href="?page={{ logs.next_page_number }}">next &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>No history, would you like to make some?</p>
{% endif %}
{% endblock %}
