<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
  </head>
  <body>
    <div class="navbar navbar-fixed-top" id="topnav">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Cannula</a>
          <ul class="nav">
            <li>
              <a href="/view1">View One</a>
            </li>
            <li>
              <a href="/people">People</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    {% raw %}
    <div id="login-holder" class="login-form modal hide">
      <div id="login-inner" ng:controller="LoginController">
        <div class="modal-header">
          <h3>Login Required</h3>
        </div>
        <form name="loginForm" class="form-horizontal" ng-submit="submit()">
          <div class="modal-body">
            <div class="alert alert-error" ng-show="error">
              {{ error }}
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" name="username" placeholder="Username" ng-model="username" required/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" name="password" placeholder="Password" ng-model="password" required />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Login" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
    {% endraw %}
    <div class="container-fluid" ng-view></div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    -->
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
