<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
  </head>
  {% raw %}
  <body ng-controller="MainCntl" ng-class="$route.current.scope.page">
    <div class="navbar navbar-fixed-top" id="topnav" ng-class="$route.current.scope.page">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Cannula</a>
          <ul class="nav">
            <li>
              <a href="/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="/people">People</a>
            </li>
          </ul>
          <ul class="nav pull-right">
          	<li>
          	  <a href="/signin">Signin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="login-holder" class="login-form modal hide" data-backdrop="static">
      <div class="container" ng:controller="LoginController">
        <form name="loginForm" ng-submit="submit()">
	    <h2 class="form-signin-heading">Login Required</h2>
	    <div class="alert alert-error" ng-show="error">
          {{ error }}
        </div>
	    <input type="email" ng-model="user.email" class="input-block-level" placeholder="Email address">
	    <input type="password" ng-model="user.password" class="input-block-level" placeholder="Password">
	    <label class="checkbox">
	      <input type="checkbox" value="remember-me"> Remember me
	    </label>
	    <button class="btn btn-small btn-primary" type="submit">Sign in</button>
        </form>
        <p>Or <a href="/signup" data-dismiss="modal">Sign Up</a> for a trial account.</p>
      </div>
    </div>
    <div class="container-fluid" ng-view></div>
    {% endraw %}
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
