// Imports
@import "mixins.scss";
@import "bootstrap.min.scss";

// Set up the grid. There is an extra gutter on either side of the actual
// grid that we have to add ourselves, and account for in the calculations
// below.
$column-width: 40px;
$gutter-width: 20px;
$grid-columns: 16;
$grid-width: $column-width * $grid-columns + $gutter-width * ($grid-columns - 1);
$container-width: $grid-width + (2 * $gutter-width);

// Colors
$blue: #008DBF;
$dark-blue: #032F40;

@function grid-columns($n, $offset:0px) {
    @return $column-width * $n + $gutter-width * ($n - 1) - $offset;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    font-family: "Mako", Verdana, Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    background: #fff;
    color: #333;
}

a {
  color: lighten($dark-blue, 10%);
}
a:hover {
  color: $dark-blue;
}
/****************************************************************************
    Grid debugging
****************************************************************************/
.debug {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("http://griddle.it/#{$grid-width}-#{$grid-columns}-#{$gutter-width}") repeat-y center top;
    //opacity: .7;
}

/****************************************************************************
    Header
****************************************************************************/
.topbar {
    //border-bottom: 1px solid $blue;
    .nav {
        a:hover {
            color: $blue;
        }
    }
    a:hover, {
        color: $blue;
        text-decoration: none;
    }
    #user-links {
        padding-top: 5px;
        color: #fff;
        img {
            @include border-radius(3px);
            position: relative;
            top: 5px;
        }
    }
}

#branding {
    width: 100%;
    height: 110px;
    margin-bottom: 1em;
    @include vertical-linear-gradient($dark-blue, darken($dark-blue, 4%));
    @include box-shadow(5px, 5px, 50px);
    h1 {
        margin: 1em 0;
        color: lighten($blue, 4%);
        span {
            color: darken($blue, 5%);
            font-size: 60%;
            font-style: italic;
            padding: 2em;
            margin-left: 2em;
            border-left: 1px solid $dark-blue;
        }
    }
}

/****************************************************************************
    Forms
****************************************************************************/
.clearfix {
    .help-block {
        color: #410;
    }
}
.errorlist {
    margin-bottom: 0;
    li {
        color: #fff;
    }
}
/****************************************************************************
    News
****************************************************************************/
.news {
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    img {
        border: 1px solid #ccc;
        padding: 2px;
        float: left;
    }
    .message {
        float: left;
        margin-left: 5px;
        span {
          font-weight: bold;
          font-size: 110%;
          color: #333;
        }
        .quiet {
            color: #666;
            font-size: 80%;
            padding: 0;
        }
    }
}

/****************
 * Popup Form
 ****************/

form.popup {
  position: absolute;
  z-index: 99;
  background: #fff;
  border: 2px solid $blue;
  padding-top: 18px;
  fieldset, .actions {
    margin-bottom: 0;
  }
  &.wide {
    width: 500px;
  }
}

/********************
 * Groups
 * ******************/

.group {
  h3 {
    text-transform: capitalize;
  }
  clear: both;
  .tools {
    float: right;
  }
}
